<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/core"

	xsi:schemaLocation="http://www.springframework.org/schema/beans  
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     	http://www.springframework.org/schema/context 
	     	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	      	http://cxf.apache.org/jaxrs 
	      	http://cxf.apache.org/schemas/jaxrs.xsd
	      	http://cxf.apache.org/core 
	      	http://cxf.apache.org/schemas/core.xsd">


	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider" />
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />
	<bean id="inInterceptors" class="org.apache.cxf.interceptor.LoggingInInterceptor"></bean>
	<bean id="outInterceptors" class="org.apache.cxf.interceptor.LoggingOutInterceptor"></bean>

	<jaxrs:server id="services" address="/b">
		<jaxrs:serviceBeans>
			<bean class="cn.zno.HelloWorld" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
			<ref bean="jaxbProvider" />
		</jaxrs:providers>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
		<jaxrs:languageMappings>
			<entry key="en" value="en-gb" />
		</jaxrs:languageMappings>
		<jaxrs:inInterceptors>
			<ref bean="inInterceptors" />
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<ref bean="outInterceptors" />
		</jaxrs:outInterceptors>
	</jaxrs:server>
</beans>
